<template name="categories">
  <div class="grid-small grid-module dialog admin">
    <h2>Categories</h2>
    <form class="form-block">
      <h3>Add new category</h3>
      <div class="control-group">
        <label>Name</label>
        <div class="controls"><input id="name" type="text" value="" /></div>
      </div>
      <div class="control-group"> 
        <label>Parent</label>
        <div class="controls">
          <select id="parentcategory">
            <option disabled selected>Choose a parent category</option>
            {{#each topCategories}}
              <option value="{{_id}}">{{name}}</option>
              {{#each firstLevelCategory}}
                <option value="{{_id}}">&nbsp;&nbsp;{{name}}</option>
                {{#each secondLevelCategory}}
                  <option value="{{_id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</option>
                {{/each}}
              {{/each}}
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Submit" />
      </div>
    </form>
    <!-- <ul>
      {{#each categories}}
        {{> UI.dynamic template=categoryItem}}
      {{/each}}
    </ul>-->
  </div>
</template>
